Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Dependencies: upgrade packages
  requirements/pip.txt
Due: none

Dependencies: use pip-tools for all our files (#9480)
  .github/workflows/pip-tools.yaml
  requirements/debug.in
  requirements/debug.txt
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
Due: none

Dependencies: update all of them
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Dependencies: update README with new pattern
  requirements/README.rst
Due: none

Dependencies: solve issues with Sphinx and docutils
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: none

Tox: remove unused requirement file
  tox.ini
Due: none

Tox: remove unused linkcheck
  tox.ini
Due: none

Dependencies: use GitHub Action + pip-tools (#9479)
  .github/workflows/pip-tools.yaml
  requirements/README.rst
  requirements/debug.in
  requirements/debug.txt
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
  tox.ini
Due: none

Code comment
  readthedocs/oauth/utils.py
Due: build-code

Logging: reduce verbosity
  readthedocs/builds/tasks.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/utils.py
Due: build-code

Teams: don't send email notification when users adds themselves to a team (#9511)
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_orgs.py
Due: build-code

Logging: keep using log.exception for projects.tasks.search
  readthedocs/projects/tasks/search.py
Due: build-code

Proxito: separate project slug extraction from request manipulation (#9462)
  readthedocs/proxito/middleware.py
Due: build-code

Rename canonical_project -> parent_project
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Lint
  readthedocs/core/unresolver.py
Due: build-code

Fix
  readthedocs/embed/v3/views.py
Due: build-code

Create .vale.ini
  .vale.ini
Due: none

Create Swap.yml
  Swap.yml
Due: none

Create vale-linter.yml
  vale-linter.yml
Due: none

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Update Transifex link
  docs/dev/contribute.rst
Due: build-docs

Telemetry: collect user's requirements
  readthedocs/telemetry/admin.py
  readthedocs/telemetry/collectors.py
  readthedocs/telemetry/tests/test_collectors.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: build-code

Telemetry: update docstring
  readthedocs/telemetry/collectors.py
Due: build-code

Update Transifex link (#9531)
  docs/dev/contribute.rst
Due: build-docs

Design doc: new search API
  docs/dev/design/new-search-api.rst
Due: build-docs

Unresolver: strict validation for external versions and other fixes
  readthedocs/core/unresolver.py
  readthedocs/embed/views.py
  readthedocs/proxito/middleware.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Telemetry: update tests for _get_user_pip_packages
  readthedocs/telemetry/collectors.py
  readthedocs/telemetry/tests/test_collectors.py
Due: build-code

Telemetry: add note about exception handling
  readthedocs/telemetry/collectors.py
Due: build-code

Telemetry: lint
  readthedocs/telemetry/admin.py
Due: build-code

Telemetry: collect user's requirements (#9514)
  readthedocs/telemetry/admin.py
  readthedocs/telemetry/collectors.py
  readthedocs/telemetry/tests/test_collectors.py
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: build-code

Dependencies: pin django-structlog to 2.2.1
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: none

Dependencies: pin django-structlog to 2.2.1 (#9535)
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: none

Release 8.4.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.4.1 (#9536)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Dependencies: pin deploy dependencies
  requirements/deploy.in
  requirements/deploy.txt
Due: none

Consolidate with the final resolution found to "Repository not found." error
  docs/user/faq.rst
Due: build-docs

Dependencies: remove `python-dateutil`
  readthedocs/search/tasks.py
  requirements/pip.in
  requirements/pip.txt
Due: build-code

New unresolver implementation (#9500)
  readthedocs/analytics/proxied_api.py
  readthedocs/api/mixins.py
  readthedocs/core/unresolver.py
  readthedocs/embed/v3/views.py
  readthedocs/proxito/middleware.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code
