Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

Experiment with circle ci path filtering
  .circleci/config.yml
Due: none

Docs: update document to mention the versions of pillow
  docs/user/build-default-versions.rst
Due: build-docs

Update readthedocs/doc_builder/python_environments.py
  readthedocs/doc_builder/python_environments.py
Due: build-code

Requirements: update them with `pur`
  requirements/deploy.txt
  requirements/docker.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Use another field to track the expiration date
  readthedocs/invitations/migrations/0001_initial.py
  readthedocs/invitations/models.py
  readthedocs/invitations/tests/test_querysets.py
  readthedocs/invitations/tests/test_views.py
  readthedocs/organizations/migrations/0008_migrate_old_invitations.py
Due: build-code

Add comment
  readthedocs/organizations/views/private.py
  readthedocs/projects/views/private.py
Due: build-code

Sphinx domain: change type of ID field
  readthedocs/sphinx_domains/apps.py
  readthedocs/sphinx_domains/migrations/0007_alter_sphinxdomain_id.py
Due: build-code

Disable sphinx domains
  readthedocs/projects/tasks/search.py
  readthedocs/search/documents.py
  readthedocs/search/parsers.py
Due: build-code

Build: unpin Pillow for unsupported Python versions (#9473)
  docs/user/build-default-versions.rst
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_doc_building.py
Due: build-code, build-docs

Sphinx domain: change type of ID field (#9482)
  readthedocs/sphinx_domains/apps.py
  readthedocs/sphinx_domains/migrations/0007_alter_sphinxdomain_id.py
Due: build-code

Release 8.3.7
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.3.7 (#9484)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Replace button with text link, Expand the SEO feature to generic Search and Analytics and add more description
  docs/user/science.rst
Due: build-docs

Center the video
  docs/user/science.rst
Due: build-docs

Crop screenshot re: https://github.com/readthedocs/readthedocs.org/pull/9460/files/14c5770e3645bf8eb1a64d295418163342051dc9#diff-27b7d89454610338aba49b760a3126183ee6923631b348f450e3d856da9f3eed
  docs/user/img/screenshot_edit_on_github.png
Due: build-docs

Reduce jupyter logo file size
  docs/user/img/logo_jupyter.png
Due: build-docs

Apply @agjohnson's code review suggestions
  docs/user/science.rst
Due: build-docs

Remove assumption about reader confusion in language
  docs/user/science.rst
Due: build-docs

Update some of the exit-links with a "»" to indicate that this is a "next step" thing
  docs/user/science.rst
Due: build-docs

Updates from review
  readthedocs/proxito/middleware.py
Due: build-code

Use Read the Docs action v1
  .github/workflows/pr-preview-links.yaml
Due: none

Add note about this page and update video link
  docs/user/science.rst
Due: build-docs

Docs: Read the Docs for Science - first version landing page in user documentation (#9460)
  docs/.rstcheck.cfg
  docs/conf.py
  docs/user/img/logo_chain_ladder.png
  docs/user/img/logo_feature_engine.png
  docs/user/img/logo_jupyter.png
  docs/user/img/screenshot_edit_on_github.png
  docs/user/img/screenshot_rtd_downloads.png
  docs/user/index.rst
  docs/user/science.rst
  requirements/docs.in
  requirements/docs.txt
Due: build-docs

Use Read the Docs action v1 (#9487)
  .github/workflows/pr-preview-links.yaml
Due: none

Preview: add links to `dev` documentation
  .github/workflows/pr-preview-links.yaml
Due: none

Use feature flag
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/documents.py
  readthedocs/search/parsers.py
Due: build-code

Disable sphinx domains (#9483)
  readthedocs/projects/models.py
  readthedocs/projects/tasks/search.py
  readthedocs/search/documents.py
  readthedocs/search/parsers.py
Due: build-code

Preview: add links to `dev` documentation (#9491)
  .github/workflows/pr-preview-links.yaml
Due: none

Avoid jQuery in rtd-data.js
  readthedocs/core/static-src/core/js/doc-embed/rtd-data.js
Due: build-code

Remove a few more jQuery usages
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static-src/core/js/doc-embed/sponsorship.js
Due: build-code

FIXUP: use scrollY and innerHeight
  readthedocs/core/static-src/core/js/doc-embed/sponsorship.js
Due: build-code

Fix method call
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Improvements from review
  docs/user/custom-domains.rst
  readthedocs/domains/notifications.py
Due: build-code, build-docs

Add dependency to docs requirements
  requirements/docs.in
  requirements/docs.txt
Due: none

Update template from documentation preview
  .github/workflows/pr-preview-links.yaml
Due: none

Custom urlconf: support serving static files
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_middleware.py
Due: build-code

Avoid jquery in rtd data (#9493)
  readthedocs/core/static-src/core/js/doc-embed/rtd-data.js
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static-src/core/js/doc-embed/sponsorship.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Path conditions:
  build-code: any of: readthedocs/.*
  build-docs: any of: docs/.*
