Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Update readthedocs/core/signals.py
  readthedocs/core/signals.py
Due: build-code

Darker
  readthedocs/core/signals.py
Due: build-code

Change mailing list subscription to when the user validates their email (#9384)
  readthedocs/core/migrations/0012_add_newsletter_setting.py
  readthedocs/core/models.py
  readthedocs/core/signals.py
  readthedocs/core/tests/test_signup.py
  readthedocs/forms.py
  readthedocs/settings/base.py
Due: build-code

Update doc
  docs/dev/design/new-search-api.rst
Due: build-docs

Back to constants
  readthedocs/audit/filters.py
  readthedocs/audit/models.py
  readthedocs/organizations/views/private.py
  readthedocs/profiles/views.py
Due: build-code

Updates from review
  readthedocs/audit/filters.py
  readthedocs/audit/migrations/0007_auditlog_data.py
  readthedocs/audit/models.py
  readthedocs/audit/serializers.py
Due: build-code

Silly mistake
  readthedocs/audit/serializers.py
Due: build-code

Don't depend on the order
  readthedocs/search/api/v3/tests/test_api.py
Due: build-code

Domains: add expired queryset (#9667)
  readthedocs/domains/querysets.py
  readthedocs/domains/tests/test_querysets.py
Due: build-code

Add an initial policy for delisting unmaintained projects
  docs/user/unofficial-projects.rst
Due: build-docs

Move legalise to the bottom
  docs/user/unofficial-projects.rst
Due: build-docs

A bit more clarify
  docs/user/unofficial-projects.rst
Due: build-docs

We can't use dicts in a set :(
  readthedocs/search/api/v3/tests/test_api.py
Due: build-code

Add to TOC
  docs/user/index.rst
Due: build-docs

Release 8.9.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.9.0 (#9732)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Docs: add an example for custom domain input
  docs/user/custom-domains.rst
Due: build-docs

Docs: cancel PR builds if there is no documentation changes
  .readthedocs.yml
Due: none

Docs: add an example for custom domain input (#9733)
  docs/user/custom-domains.rst
Due: build-docs

False alarm, we just needed to set the version public
  readthedocs/search/api/v3/tests/test_api.py
Due: build-code

Set privacy level explicitly
  readthedocs/search/api/v3/tests/test_api.py
Due: build-code

Override global rate limit
  readthedocs/search/api/v3/views.py
Due: build-code

Comment
  readthedocs/search/api/v3/views.py
Due: build-code

Linter
  readthedocs/audit/models.py
  readthedocs/organizations/views/private.py
Due: build-code

Apply the most immediately uncomplicated suggestions from code review
  docs/user/unofficial-projects.rst
Due: build-docs

Expand section on what "unmaintained" means
  docs/user/unofficial-projects.rst
Due: build-docs

Add more cross-references for defined terms
  docs/user/unofficial-projects.rst
Due: build-docs

sembr
  docs/user/unofficial-projects.rst
Due: build-docs

Adding linebreaks
  docs/user/unofficial-projects.rst
Due: build-docs

Remove "candidate" and make it a bit more clear that someone needs to submit a report
  docs/user/unofficial-projects.rst
Due: build-docs

Add a template for emails
  docs/user/unofficial-projects.rst
Due: build-docs

Move definitions to "specification" as @humitos suggested
  docs/user/unofficial-projects.rst
Due: build-docs

Move use cases to "Examples" under rationale
  docs/user/unofficial-projects.rst
Due: build-docs

Adds robots.txt boilerplate
  docs/user/unofficial-projects.rst
Due: build-docs

Add a step that the source project is notified by RTD core team
  docs/user/unofficial-projects.rst
Due: build-docs

resolve warning - include in TOC
  docs/user/index.rst
Due: build-docs

Add a comment in robots.txt template
  docs/user/unofficial-projects.rst
Due: build-docs

Update docs/user/unofficial-projects.rst
  docs/user/unofficial-projects.rst
Due: build-docs

Telemetry: include all the PyPI packages
  readthedocs/telemetry/collectors.py
Due: build-code

Design doc: new search API (#9533)
  docs/dev/design/new-search-api.rst
Due: build-docs
