Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Release 9.1.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Due: build-code, build-docs

Fix version
  CHANGELOG.rst
Due: none

Release 9.1.0 (#9792)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Due: build-code, build-docs

Fix Circle CI builds: Tox 4 compatibility, add external commands to allowlist (#9789)
  .circleci/config.yml
  tox.embedapi.ini
  tox.ini
Due: none

Adds an -f switch to force resetting the branch in cases where Circle CI has created it
  .circleci/config.yml
Due: none

Docs: Remove outdated and misleading Poetry guide
  docs/user/guides/poetry.rst
Due: build-docs

Update docs/user/guides/canonical-urls.rst
  docs/user/guides/canonical-urls.rst
Due: build-docs

Manually create a PNG version (not as straight-forward as assumed)
  docs/user/custom-domains.rst
  docs/user/img/mermaid-custom-domains.png
Due: build-docs

Docs: Split Custom Domains as Explanation and How-to Guide (Diátaxis) (#9676)
  docs/conf.py
  docs/user/canonical-urls.rst
  docs/user/custom-domains.rst
  docs/user/glossary.rst
  docs/user/guides/administrators.rst
  docs/user/guides/canonical-urls.rst
  docs/user/guides/custom-domains.rst
  docs/user/hosting.rst
  docs/user/img/mermaid-custom-domains.png
  docs/user/img/mermaid-custom-domains.svg
  docs/user/index.rst
  requirements/docs.in
  requirements/docs.txt
Due: build-docs

Split up Pull Request Builds since it's pretty much 50:50 in reference and how-to (Diátaxis)
  docs/user/guides/administrators.rst
  docs/user/guides/pull-requests.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
Due: build-docs

Reformat seealso:: box to @agjohnson's proposal
  docs/user/pull-requests.rst
Due: build-docs

Move Pull Request Builds to Explanation menu
  docs/user/index.rst
Due: build-docs

Docs: Split up Pull Request Builds into a how-to guide and reference (Diátaxis) (#9679)
  docs/user/guides/administrators.rst
  docs/user/guides/pull-requests.rst
  docs/user/index.rst
  docs/user/pull-requests.rst
Due: build-docs

Re-label Traffic Analysis as a How-To (Diátaxis)
  docs/user/analytics.rst
  docs/user/guides/administrators.rst
  docs/user/index.rst
Due: build-docs

Improve introduction paragraph
  docs/user/analytics.rst
Due: build-docs

Update title to reflect contents better, add additional entry in developer's and designer's guides
  docs/user/analytics.rst
  docs/user/guides/administrators.rst
  docs/user/guides/developers.rst
  docs/user/index.rst
Due: build-docs

Apply suggestions from code review
  docs/user/analytics.rst
Due: build-docs

Add Traffic Analytics to the Main Features page
  docs/user/features.rst
Due: build-docs

Remove How-to from Features
  docs/user/index.rst
Due: build-docs

WIP
  docs/user/integrations.rst
Due: build-docs

Adds a draft of explanation of how continuous documentation fits into the landscape
  docs/user/integrations.rst
Due: build-docs

Add comments to Tox environments that aren't run in CI
  tox.ini
Due: none

Apply suggestions from code review @ericholscher
  docs/user/integrations.rst
Due: build-docs

CI builds: Checkout main branch in a robust way (#9793)
  .circleci/config.yml
Due: none

Fixing tests for views and projects
  readthedocs/rtd_tests/tests/test_project.py
  readthedocs/rtd_tests/tests/test_views.py
  readthedocs/search/management/commands/search_queries.py
Due: build-code

Changing fixture data to be list of dictionaries
  readthedocs/projects/management/commands/fixtures_projects.py
  readthedocs/search/management/commands/search_queries.py
Due: build-code

Docs: Removed toc poetry entry
  docs/user/guides/developers.rst
Due: build-docs

Update docs/user/integrations.rst
  docs/user/integrations.rst
Due: build-docs

Build: handle symlinks in a centralized way
  readthedocs/builds/storage.py
  readthedocs/config/config.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tasks/builds.py
Due: build-code

Docs: Split SSO docs into HowTo/Explanation
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/administrators.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
Due: build-docs

Fix silent, then loud failure after Tox 4 upgrade re: https://github.com/tox-dev/tox/issues/2658
  tox.ini
Due: none

Docs: Remove outdated and misleading Poetry guide (#9794)
  docs/user/guides/developers.rst
  docs/user/guides/poetry.rst
Due: build-docs

Apply suggestions from code review by @humitos
  docs/user/guides/subprojects.rst
  docs/user/subprojects.rst
Due: build-docs

Fix silent, then loud failure after Tox 4 upgrade (#9803)
  tox.ini
Due: none

Change headlines
  docs/user/localization.rst
Due: build-docs

Add a section "Translation Workflows"
  docs/user/localization.rst
Due: build-docs

Make the Sphinx guide much more prominent as a seealso at the top of the subsection
  docs/user/localization.rst
Due: build-docs

Do not build documentation in Circle CI, Read the Docs handles that :100: (#9788)
  .circleci/config.yml
  .readthedocs.yml
  tox.ini
Due: none

Apply suggestions from code review
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
Due: build-docs

Apply suggestions from code review
  docs/user/commercial/single-sign-on.rst
Due: build-docs
