Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Add missing space
  docs/user/index.rst
Due: build-docs

Add link to the build notifications guide (#9814)
  docs/user/index.rst
Due: build-docs

Apply suggestions from code review from @humitos
  docs/user/_includes/organization-permissions.rst
  docs/user/commercial/single-sign-on.rst
Due: build-docs

Docs: configure linkcheck (#9810)
  docs/conf.py
  docs/user/build-customization.rst
Due: build-docs

Adds missing translation strings (#9770)
  readthedocs/templates/homepage.html
  readthedocs/templates/profiles/private/advertising_profile.html
  readthedocs/templates/profiles/private/token_list.html
  readthedocs/templates/projects/environmentvariable_list.html
Due: build-code

Docs: Split and relabel VCS integration as explanation and how-to (Diátaxis) (#9675)
  docs/_static/js/expand_tabs.js
  docs/user/guides/administrators.rst
  docs/user/guides/git-integrations.rst
  docs/user/index.rst
  docs/user/integrations.rst
Due: build-docs

CI builds: Conditional builds with path filtering, skips tests when irrelevant to changeset
  .circleci/config-conditional-builds.yml
  .circleci/config.yml
Due: none

Add more patterns to trigger test builds
  .circleci/config.yml
Due: none

Always run on the main branch
  .circleci/config-conditional-builds.yml
Due: none

Build details page: normalize/trim command paths
  readthedocs/api/v2/serializers.py
Due: build-code

Address feedback
  docs/user/security-log.rst
Due: build-docs

Apply suggestions from code review
  docs/dev/style-guide.rst
Due: build-docs

Update docs/dev/style-guide.rst
  docs/dev/style-guide.rst
Due: build-docs

Update style-guide.rst
  docs/dev/style-guide.rst
Due: build-docs

Really spell out the alias of a subproject vs. its name
  docs/user/guides/subprojects.rst
Due: build-docs

Lowercase foo and bar
  docs/user/subprojects.rst
Due: build-docs

Describe common searching as a main objective of using subprojects, add a subsection about Separate release cycles
  docs/user/subprojects.rst
Due: build-docs

Fix lint
  docs/dev/style-guide.rst
Due: build-docs

Fix linting
  docs/user/security-log.rst
Due: build-docs

Apply suggestions from code review
  docs/user/guides/setup-single-sign-on-google-email.rst
Due: build-docs

Docs: Update security log wording (#9811)
  docs/user/security-log.rst
Due: build-docs

Small cleanup
  docs/conf.py
  docs/user/_includes/organization-permissions.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
Due: build-docs

Fix status reporting on PRs with the magic exit code
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_celery.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Due: build-code

Fix link_to_build defaults
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/tasks/builds.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/tests/test_build_tasks.py
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Due: build-code

Fix tests
  readthedocs/rtd_tests/tests/test_celery.py
Due: build-code

Add subset of tests to testing docs
  docs/dev/tests.rst
Due: build-docs

Comment on usage
  readthedocs/builds/tasks.py
  readthedocs/core/utils/__init__.py
  readthedocs/projects/tasks/builds.py
Due: build-code

Fix test
  readthedocs/rtd_tests/tests/test_projects_tasks.py
Due: build-code

Fix lint
  docs/dev/tests.rst
Due: build-docs

Add subset of tests to testing docs (#9817)
  docs/dev/tests.rst
Due: build-docs

Update docs/user/subprojects.rst
  docs/user/subprojects.rst
Due: build-docs

Apply suggestions from code review @ericholscher
  docs/user/guides/subprojects.rst
  docs/user/subprojects.rst
Due: build-docs

Docs: Split SSO docs into HowTo/Explanation (#9801)
  CHANGELOG.rst
  docs/conf.py
  docs/dev/install.rst
  docs/user/_includes/organization-permissions.rst
  docs/user/api/v3.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/connected-accounts.rst
  docs/user/features.rst
  docs/user/guides/administrators.rst
  docs/user/guides/manage-read-the-docs-teams.rst
  docs/user/guides/pull-requests.rst
  docs/user/guides/setup-single-sign-on-github-gitlab-bitbucket.rst
  docs/user/guides/setup-single-sign-on-google-email.rst
  docs/user/index.rst
  docs/user/shared/admonition-rtd-business.rst
  readthedocs/api/v2/views/integrations.py
  readthedocs/builds/models.py
  readthedocs/builds/tasks.py
  readthedocs/builds/utils.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/oauth/services/bitbucket.py
  readthedocs/projects/models.py
  readthedocs/templates/homepage.html
Due: build-code, build-docs

Use sphinx-rtd-theme 1.2.0rc1
  requirements/docs.in
  requirements/docs.txt
Due: none

Build docs if requirements or .readthedocs.yml changed
  .readthedocs.yml
Due: none

Update docs/user/guides/subprojects.rst
  docs/user/guides/subprojects.rst
Due: build-docs

Updates to Subprojects Explanation and How-to from @ericholscher feedback
  docs/user/guides/subprojects.rst
  docs/user/subprojects.rst
Due: build-docs

Update introduction, improvents pending...
  docs/user/subprojects.rst
Due: build-docs

Adds another intro paragraph
  docs/user/subprojects.rst
Due: build-docs
