Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Add mention of canonical domains
  docs/user/custom-domains.rst
Due: build-docs

Highlight **canonical** at first apperance, then emphasize its importance
  docs/user/custom-domains.rst
Due: build-docs

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

A few text changes proposals
  docs/user/tutorial/index.rst
Due: build-docs

Update first paragraph to mention what the page is about
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Add explanation about more of the features
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Try to simplify explanation and adds CNAME to the equation.
  docs/user/custom-domains.rst
  docs/user/guides/custom-domains.rst
Due: build-docs

Fix notes
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Update .env
  .env
Due: none

pre-commit linting
  readthedocs/core/finders.py
Due: build-code

WIP: Splitting up and updating VCS integration
  docs/user/guides/git-integrations.rst
  docs/user/integrations.rst
Due: build-docs

Add some semantic linebreaks
  docs/dev/install.rst
Due: build-docs

Remove the /etc/hosts troubleshooting step, it's not actual troubleshooting
  docs/dev/install.rst
Due: build-docs

Update docs/user/tutorial/index.rst
  docs/user/tutorial/index.rst
Due: build-docs

Update references to integrations after the split
  docs/user/guides/administrators.rst
  docs/user/index.rst
  docs/user/integrations.rst
Due: build-docs

Remove the generic framing of VCS providers
  docs/user/guides/git-integrations.rst
Due: build-docs

Add git integrations to the list of explanations
  docs/user/index.rst
Due: build-docs

Fix language
  docs/user/custom-domains.rst
Due: build-docs

Remove "by default"
  docs/user/guides/custom-domains.rst
Due: build-docs

Apply suggestions from code review @ericholscher
  docs/user/custom-domains.rst
  docs/user/guides/custom-domains.rst
Due: build-docs

Remove troubleshooting of network failures
  docs/dev/install.rst
Due: build-docs

A few text updates (#9761)
  docs/user/tutorial/index.rst
Due: build-docs

Release 9.0.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 9.0.0 (#9763)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.mo
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Linting issue fixed
  readthedocs/core/finders.py
Due: build-code

Admin: install `debug_toolbar` (#9753)
  readthedocs/core/finders.py
  readthedocs/settings/base.py
Due: build-code

Docs: validate Mastodon link
  docs/user/index.rst
Due: build-docs

Review suggestions
  docs/user/index.rst
Due: build-docs

Docs: fix minor issues
  docs/dev/search-integration.rst
  docs/user/index.rst
Due: build-docs

Update docs/dev/search-integration.rst
  docs/dev/search-integration.rst
Due: build-docs

Docs: validate Mastodon link (#9764)
  docs/user/index.rst
Due: build-docs

Docs: fix minor issues (#9765)
  docs/dev/search-integration.rst
  docs/user/index.rst
Due: build-docs

Remove usage of jquery's $.Deref and remove mkdocs SSS integration (#9581)
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/doc_builder/backends/mkdocs.py
Due: build-code

Docker Compose v2 compatibility (#9759)
  .env
  docs/dev/install.rst
Due: build-docs

Add a local table of content, move oddly placed instructions, fixup broken headline levels
  docs/user/guides/git-integrations.rst
Due: build-docs

Remove local TOC, move individual provider guides to tabs
  docs/user/guides/git-integrations.rst
Due: build-docs

Makes it possible to open up a tab using a sphinx label reference
  docs/_static/js/expand_tabs.js
Due: build-docs

Move Debugging Webhooks into Troubleshooting
  docs/user/guides/git-integrations.rst
Due: build-docs
