Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

Custom urlconf: support serving static files (#9496)
  readthedocs/projects/models.py
  readthedocs/proxito/tests/test_middleware.py
Due: build-code

Embedded js: fix flyout click event
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Update migrations
  readthedocs/projects/migrations/0092_add_new_fields.py
  readthedocs/projects/migrations/0093_migrate_null_fields.py
Due: build-code

Update test
  readthedocs/domains/tests/test_tasks.py
Due: build-code

Embedded js: fix flyout click event (#9498)
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Move get_domain_from_host to unresolver
  readthedocs/core/unresolver.py
  readthedocs/proxito/middleware.py
Due: build-code

Move unresolve_domain
  readthedocs/core/unresolver.py
  readthedocs/proxito/middleware.py
Due: build-code

Fix typo in build concurrency logging
  readthedocs/builds/querysets.py
Due: build-code

Implement unresolve_path
  readthedocs/core/unresolver.py
Due: build-code

Use new implementation for unresolver
  readthedocs/core/unresolver.py
Due: build-code

Tests
  readthedocs/analytics/proxied_api.py
  readthedocs/api/mixins.py
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_resolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Refactor and cleanup
  readthedocs/core/unresolver.py
  readthedocs/proxito/middleware.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Fix typo in build concurrency logging (#9499)
  readthedocs/builds/querysets.py
Due: build-code

sphinxcontrib-video was added incorrectly
  requirements/docs.in
  requirements/docs.txt
Due: none

sphinxcontrib-video was added incorrectly (#9501)
  requirements/docs.in
  requirements/docs.txt
Due: none

Removes rst-check
  .circleci/config.yml
  docs/.rstcheck.cfg
  requirements/docs.in
  tox.ini
Due: build-docs

Removes rstcheck (#9505)
  .circleci/config.yml
  docs/.rstcheck.cfg
  requirements/docs.in
  tox.ini
Due: build-docs

Git backend: use `default_branch` to decide whether build latest
  readthedocs/api/v2/views/integrations.py
  readthedocs/core/views/hooks.py
Due: build-code

Apply suggestions from code review
  .github/workflows/pr-preview-links.yaml
Due: none

Update template from documentation preview (#9495)
  .github/workflows/pr-preview-links.yaml
Due: none

Updates from review
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_site.html
Due: build-code

Custom domains: track validation process (#9428)
  docs/user/custom-domains.rst
  readthedocs/domains/__init__.py
  readthedocs/domains/apps.py
  readthedocs/domains/notifications.py
  readthedocs/domains/querysets.py
  readthedocs/domains/tasks.py
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.html
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_site.html
  readthedocs/domains/tests/__init__.py
  readthedocs/domains/tests/test_querysets.py
  readthedocs/domains/tests/test_tasks.py
  readthedocs/projects/migrations/0092_add_new_fields.py
  readthedocs/projects/migrations/0093_migrate_null_fields.py
  readthedocs/projects/models.py
  readthedocs/projects/views/private.py
  readthedocs/settings/base.py
  readthedocs/templates/projects/domain_form.html
Due: build-code, build-docs

Embedded js: remove some dependency from jquery
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Preview: escape characters
  .github/workflows/pr-preview-links.yaml
Due: none

Preview: escape characters (#9509)
  .github/workflows/pr-preview-links.yaml
Due: none

Teams: don't send email notification when users adds themselves to a team
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_orgs.py
Due: build-code

added support for tags in API
  readthedocs/api/v3/serializers.py
Due: build-code

Updates from review
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Object.keys is an Array!
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Embedded js: remove more dependency on jquery
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static-src/core/js/doc-embed/utils.js
  readthedocs/core/static-src/core/js/doc-embed/version-compare.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Updates from review
  readthedocs/proxito/middleware.py
Due: build-code

Missed some logs
  readthedocs/proxito/middleware.py
Due: build-code

set tags to be not required by default
  readthedocs/api/v3/serializers.py
Due: build-code

Dependencies: use GitHub Action + pip-tools
  .github/workflows/pip-tools.yaml
  requirements/docs.txt
Due: none

Dependencies: use pip-tools for all our files
  .github/workflows/pip-tools.yaml
  requirements/debug.in
  requirements/debug.txt
  requirements/deploy.in
  requirements/deploy.txt
  requirements/docker.in
  requirements/docker.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.in
  requirements/testing.txt
Due: none

Dependencies: pin django-simple-history
  requirements/pip.in
  requirements/pip.txt
Due: none

Path conditions:
  build-code: any of: readthedocs/.*
  build-docs: any of: docs/.*
