Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

Email: render template before sending it to the task
  readthedocs/builds/tasks.py
  readthedocs/core/tasks.py
  readthedocs/core/utils/__init__.py
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.html
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.txt
  readthedocs/notifications/backends.py
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_ended_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_ended_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_required_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_required_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/trial_ending_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/trial_ending_email.txt
  readthedocs/templates/projects/notifications/deprecated_build_webhook_email.html
  readthedocs/templates/projects/notifications/deprecated_build_webhook_email.txt
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.html
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.txt
  readthedocs/templates/projects/notifications/resource_usage_email.html
  readthedocs/templates/projects/notifications/resource_usage_email.txt
Due: build-code

Fix tests
  readthedocs/domains/tests/test_tasks.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/subscriptions/tests/test_daily_email.py
Due: build-code

Lint
  readthedocs/core/tasks.py
Due: build-code

Embedded js: remove some dependency from jquery (#9508)
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Proxito: set logging to debug
  readthedocs/proxito/middleware.py
Due: build-code

Proxito: set logging to debug (#9540)
  readthedocs/proxito/middleware.py
Due: build-code

Apply suggestions from @agjohnson code review
  docs/user/faq.rst
Due: build-docs

Domains: test tasks with organizations
  readthedocs/domains/tests/test_tasks.py
Due: build-code

Updates from review
  readthedocs/core/unresolver.py
Due: build-code

Unresolver: port changes from #9540
  readthedocs/core/unresolver.py
Due: build-code

Unresolver: port changes from #9540 (#9542)
  readthedocs/core/unresolver.py
Due: build-code

Create new section Build Troubleshooting, expand explanation about adding deploy keys
  docs/user/build-troubleshooting.rst
  docs/user/faq.rst
  docs/user/index.rst
Due: build-docs

HTML form for getting in touch with Read the Docs for Science
  docs/user/science.rst
Due: build-docs

Domains: test tasks with organizations (#9541)
  readthedocs/domains/tests/test_tasks.py
Due: build-code

Use content block
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.html
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/organization_disabled_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_ended_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_ended_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_required_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/subscription_required_email.txt
  readthedocs/subscriptions/templates/subscriptions/notifications/trial_ending_email.html
  readthedocs/subscriptions/templates/subscriptions/notifications/trial_ending_email.txt
  readthedocs/templates/projects/notifications/deprecated_build_webhook_email.html
  readthedocs/templates/projects/notifications/deprecated_build_webhook_email.txt
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.html
  readthedocs/templates/projects/notifications/deprecated_github_webhook_email.txt
  readthedocs/templates/projects/notifications/resource_usage_email.html
  readthedocs/templates/projects/notifications/resource_usage_email.txt
Due: build-code

Updates from review
  readthedocs/core/tasks.py
Due: build-code

Black
  readthedocs/core/tasks.py
Due: build-code

Embedded js: remove more dependency on jquery (#9515)
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static-src/core/js/doc-embed/utils.js
  readthedocs/core/static-src/core/js/doc-embed/version-compare.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Embedded js: update docstring
  readthedocs/core/static-src/core/js/doc-embed/utils.js
Due: build-code

Use djstripe models for organization subscriptions
  readthedocs/organizations/migrations/0008_add_stripe_customer.py
  readthedocs/organizations/models.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
Due: build-code

Updates from review
  readthedocs/settings/base.py
Due: build-code

Update migration
  readthedocs/organizations/migrations/0010_add_stripe_customer.py
Due: build-code

Use djstripe models for organization subscriptions (#9486)
  readthedocs/organizations/migrations/0010_add_stripe_customer.py
  readthedocs/organizations/models.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
Due: build-code

Embedded js: update docstring (#9547)
  readthedocs/core/static-src/core/js/doc-embed/utils.js
Due: build-code

Park resolutions to common build problems in FAQ (#9472)
  docs/user/build-troubleshooting.rst
  docs/user/index.rst
Due: build-docs

Logging: make more usage of `log.bind`
  readthedocs/core/utils/__init__.py
Due: build-code

Build: move `cancel_build` to `readthedocs.core.utils.__init__`
  readthedocs/builds/views.py
  readthedocs/core/utils/__init__.py
Due: build-code

Build: cancel old builds
  readthedocs/core/utils/__init__.py
  readthedocs/projects/models.py
Due: build-code

Lint
  readthedocs/projects/models.py
Due: build-code

Tests: fix mock path after moving function
  readthedocs/builds/tests/test_views.py
Due: build-code

Update readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.txt
  readthedocs/domains/templates/domains/notifications/pending_domain_configuration_email.txt
Due: build-code

Subscriptions: use stripe subscriptions to show details
  readthedocs/organizations/models.py
  readthedocs/subscriptions/templates/subscriptions/subscription_detail.html
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/views.py
Due: build-code

Embed js: use fetch API for footer
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Mention possible solutions for CORS
  docs/dev/design/new-search-api.rst
Due: build-docs

Apply suggestions from @ericholscher code review
  docs/user/science.rst
Due: build-docs

Add name=body to hidden input
  docs/user/science.rst
Due: build-docs

Update form label ids
  docs/user/science.rst
Due: build-docs

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Tests: add tests for cancel old builds
  readthedocs/builds/tests/test_trigger_build.py
Due: build-code

Path conditions:
  build-code: any of: readthedocs/.*
  build-docs: any of: docs/.*
