Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

Testing sphinx-rtd-theme 1.1.0b2, needs to downgrade Jinja2 because of new upperbound Jinja<3.1
  requirements/docs.in
  requirements/docs.txt
Due: none

Update readthedocs/templates/404.html
  readthedocs/templates/404.html
Due: build-code

Updates from review
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Test even registration
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Adds more basic info to the default 404 page (#9656)
  readthedocs/templates/404.html
Due: build-code

Telemetry: use `readthedocs-sphinx-ext`'s dump to load the data
  readthedocs/telemetry/collectors.py
Due: build-code

These are properties, not functions
  readthedocs/telemetry/collectors.py
Due: build-code

Missing `return`
  readthedocs/telemetry/collectors.py
Due: build-code

Return `doctool` data even if the file does not exist
  readthedocs/telemetry/collectors.py
Due: build-code

Clean up some old code that's not used
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_version.py
Due: build-code

Subscriptions: Use djstripe event handlers (#9651)
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_models.py
Due: build-code

Update to sphinx-rtd-theme==1.1.0b3 - notice concequential bump Jinja2==3.1.2
  requirements/docs.in
  requirements/docs.txt
Due: none

Use current year instead of hard-coded 2010
  docs/conf.py
Due: build-docs

Subscriptions: use djstripe events to mail owners
  readthedocs/notifications/notification.py
  readthedocs/organizations/querysets.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/notifications.py
  readthedocs/subscriptions/querysets.py
  readthedocs/subscriptions/tasks.py
  readthedocs/subscriptions/tests/test_daily_email.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Template: fix build details page link
  readthedocs/templates/builds/build_detail.html
Due: build-code

Template: fix build details page link (#9662)
  readthedocs/templates/builds/build_detail.html
Due: build-code

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Telemetry: track Sphinx `extensions` and `html_theme` variables (#9639)
  readthedocs/telemetry/collectors.py
Due: build-code

WIP: design doc for sphinxcontrib-jquery
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Remove year from copyright notice
  docs/conf.py
Due: build-docs

First draft of sphinxcontrib-jquery design doc
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Updates to clarify add_jquery_if_sphinx_lt_6
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Wrong year
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Move comment deadline to dl
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Adds further references
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Clean up some old code that's not used (#9659)
  readthedocs/builds/models.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_version.py
Due: build-code

Update docs/dev/design/sphinx-jquery.rst
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

First iteration on comments from @humitos
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Adds 2 @humitos suggestions manually after GitHub suggestions stopped applying
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Add force=False kwarg and have only one function ``add_jquery``.
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Domains: add expired queryset
  readthedocs/domains/querysets.py
  readthedocs/domains/tests/test_querysets.py
Due: build-code

Lint
  readthedocs/domains/querysets.py
Due: build-code

Use `setup_extension` + add config value for forcing jquery inclusion
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Adds dependencies, Python 2.7 and Sphinx 1.8, cc: @AA-Turner
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Change dependencies to read Python 3+ and Sphinx 1.8+ for now, let's try to be more precise if possible
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

ImportedFile: use BigAutoField for primary key
  readthedocs/projects/migrations/0094_alter_importedfile_id.py
  readthedocs/projects/models.py
Due: build-code

PageView: use BigAutoField for primary key
  readthedocs/analytics/apps.py
  readthedocs/analytics/migrations/0006_alter_pageview_id.py
Due: build-code

Search: use path for API URL (#9646)
  readthedocs/urls.py
Due: build-code

SearchQuery: use BigAutoField for primary key
  readthedocs/search/apps.py
  readthedocs/search/migrations/0005_alter_searchquery_id.py
Due: build-code

Path conditions:
  build-code: any of: readthedocs/.*
  build-docs: any of: docs/.*
