Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Test with alternate implementation
  readthedocs/builds/tests/test_build_queryset.py
  readthedocs/core/mixins.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/organizations/views/private.py
  readthedocs/projects/querysets.py
  readthedocs/projects/tests/test_domain_views.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_views.py
  readthedocs/settings/base.py
  readthedocs/subscriptions/constants.py
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/models.py
Due: build-code

Linter
  readthedocs/core/mixins.py
  readthedocs/organizations/views/private.py
  readthedocs/projects/querysets.py
  readthedocs/projects/tests/test_domain_views.py
  readthedocs/projects/views/private.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/subscriptions/constants.py
  readthedocs/subscriptions/models.py
Due: build-code

Explicit features
  readthedocs/builds/tests/test_build_queryset.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/rtd_tests/tests/test_views.py
Due: build-code

One more
  readthedocs/rtd_tests/tests/test_api.py
Due: build-code

Docs: Apply suggestions from CR regarding Poetry example
  docs/user/build-customization.rst
Due: build-docs

Docs: update instructions to install deps with Poetry (#9743)
  docs/user/build-customization.rst
Due: build-docs

Add cross-references to Project Policies
  docs/user/abandoned-projects.rst
  docs/user/unofficial-projects.rst
Due: build-docs

Apply suggestions from code review
  docs/user/unofficial-projects.rst
Due: build-docs

Remove second occurrence of exclude_patterns in conf.py :face_with_head_bandage:
  docs/conf.py
Due: build-docs

Update docs/user/abandoned-projects.rst
  docs/user/abandoned-projects.rst
Due: build-docs

More explicit tests
  readthedocs/core/mixins.py
  readthedocs/projects/querysets.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_redirects.py
Due: build-code

Linter
  readthedocs/subscriptions/managers.py
Due: build-code

Update docstrings
  readthedocs/subscriptions/managers.py
Due: build-code

Docs: Adding a pattern for reusing "Only on Read the Docs for Business" admonition (Diátaxis refactor) (#9754)
  docs/conf.py
  docs/user/commercial/organizations.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/shared/admonition-rtd-business.rst
Due: build-docs

Docs: hosting integrations for `build.commands`
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Docs: use code-block instead of raw
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Highlight lines properly
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Highlight correct lines
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Remove extra spaces
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Don't mention the line numbers directly
  docs/user/guides/hosting-integrations.rst
Due: build-docs

Update tests
  readthedocs/proxito/tests/test_headers.py
Due: build-code

Linter and updates from review
  readthedocs/audit/filters.py
  readthedocs/audit/serializers.py
Due: build-code

Don't show declined invitations in org logs
  readthedocs/audit/filters.py
Due: build-code

Audit log: log invitations (#9607)
  readthedocs/audit/filters.py
  readthedocs/audit/migrations/0007_auditlog_data.py
  readthedocs/audit/migrations/0008_alter_auditlog_action.py
  readthedocs/audit/models.py
  readthedocs/audit/serializers.py
  readthedocs/audit/templates/audit/list_logs.html
  readthedocs/core/adapters.py
  readthedocs/invitations/models.py
  readthedocs/invitations/tests/test_views.py
  readthedocs/invitations/views.py
  readthedocs/organizations/forms.py
  readthedocs/organizations/tests/test_forms.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/organizations/views/private.py
  readthedocs/profiles/views.py
  readthedocs/projects/models.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Due: build-code

ANY and ALL => **any** or **all**
  docs/user/unofficial-projects.rst
Due: build-docs

Pin `stripe` because it breaks `dj-stripe` otherwise
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: none

Be more explicit where go to in VCS intstructions
  docs/user/integrations.rst
Due: build-docs

Be more explicit where go to in VCS intstructions (#9757)
  docs/user/integrations.rst
Due: build-docs

Add an initial policy for delisting unmaintained projects (#9731)
  docs/user/abandoned-projects.rst
  docs/user/index.rst
  docs/user/unofficial-projects.rst
Due: build-docs

Place the 4 diátaxis categories at the top of the navigation sidebar
  docs/user/index.rst
Due: build-docs

Copy static files from `debug_toolbar` even when it's not installed
  readthedocs/core/finders.py
  readthedocs/settings/base.py
Due: build-code

Document Docker Compose v2 compatibility
  .env
  docs/dev/install.rst
Due: build-docs

Docs: 4 diátaxis categories at the top of the navigation sidebar (Diátaxis iteration 0) (#9758)
  docs/user/index.rst
Due: build-docs

Search: API V3 (#9625)
  docs/user/analytics.rst
  docs/user/api/v3.rst
  docs/user/build-customization.rst
  docs/user/config-file/v2.rst
  docs/user/features.rst
  docs/user/flyout-menu.rst
  docs/user/guides/administrators.rst
  docs/user/guides/advanced-search.rst
  docs/user/index.rst
  docs/user/server-side-search.rst
  docs/user/server-side-search/api.rst
  docs/user/server-side-search/index.rst
  docs/user/server-side-search/syntax.rst
  docs/user/tutorial/index.rst
  readthedocs/api/v3/proxied_urls.py
  readthedocs/builds/querysets.py
  readthedocs/core/templatetags/core_tags.py
  readthedocs/rtd_tests/tests/test_privacy_urls.py
  readthedocs/search/api/v3/__init__.py
  readthedocs/search/api/v3/executor.py
  readthedocs/search/api/v3/queryparser.py
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/tests/test_api.py
  readthedocs/search/api/v3/tests/test_queryparser.py
  readthedocs/search/api/v3/urls.py
  readthedocs/search/api/v3/utils.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/faceted_search.py
  readthedocs/search/tests/test_views.py
  readthedocs/search/views.py
  readthedocs/templates/core/project_bar_base.html
  readthedocs/templates/search/elastic_search.html
  readthedocs/urls.py
Due: build-code, build-docs

Move the warning about Docker Compose v2 to troubleshooting, write something on troubleshooting the network
  docs/dev/install.rst
Due: build-docs

Rephrase warning text slightly
  docs/dev/install.rst
Due: build-docs

Add custom-domains to explanation section, add a "What to consider" section
  docs/user/custom-domains.rst
  docs/user/index.rst
Due: build-docs

Replace "central" with "reliable"
  docs/user/custom-domains.rst
Due: build-docs

Remove the example, there's already enough explanation
  docs/user/custom-domains.rst
Due: build-docs
