Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Updating more tests using older fixture
  readthedocs/projects/management/commands/fixtures_projects.py
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_footer.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/rtd_tests/tests/test_oauth.py
  readthedocs/rtd_tests/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_sync_versions.py
  readthedocs/rtd_tests/tests/test_views.py
Due: build-code

Development: disable NGINX logs
  dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/web.conf.template
Due: none

Show a more accurate date for past_due subscriptions
  readthedocs/subscriptions/views.py
Due: build-code

Black
  readthedocs/subscriptions/views.py
Due: build-code

Development: disable NGINX logs (#9569)
  dockerfiles/nginx/proxito.conf.template
  dockerfiles/nginx/web.conf.template
Due: none

Logging: log time spent to upload build artifacts (#9568)
  readthedocs/projects/tasks/builds.py
Due: build-code

Use structlog
  readthedocs/audit/tasks.py
Due: build-code

Updates
  docs/dev/design/better-doc-urls-handling.rst
Due: build-docs

Security logs: delete old user security logs (#8620)
  readthedocs/audit/tasks.py
  readthedocs/audit/tests/test_tasks.py
  readthedocs/settings/base.py
Due: build-code

Design doc: Better handling of docs URLs (#9425)
  docs/dev/design/better-doc-urls-handling.rst
Due: build-docs

Updates
  docs/dev/design/new-search-api.rst
Due: build-docs

removed unrelated fields and updated API docs for tags
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
Due: build-code, build-docs

pre-commit linting
  readthedocs/api/v3/serializers.py
Due: build-code

Build: upgrade `commonmark` to 0.9.1 (#9563)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
Due: build-code

Docs: update default versions
  docs/user/build-default-versions.rst
Due: build-docs

Resolving django integrity error
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_repo_parsing.py
Due: build-code

Subscriptions: use stripe subscriptions to show details (#9550)
  readthedocs/organizations/models.py
  readthedocs/subscriptions/templates/subscriptions/subscription_detail.html
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/views.py
Due: build-code

Use utility function domReady instead of JQuery's .ready
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static-src/core/js/doc-embed/utils.js
  readthedocs/core/static-src/core/js/readthedocs-doc-embed.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Docs: improve "Badges" page
  docs/user/badges.rst
Due: build-docs

pre-commit linter
  readthedocs/api/v3/tests/test_projects.py
Due: build-code

Just use function
  readthedocs/core/static-src/core/js/doc-embed/utils.js
Due: build-code

A few updates to language
  docs/user/badges.rst
Due: build-docs

Cap colors
  docs/user/badges.rst
Due: build-docs

A few more clarity updates
  docs/user/badges.rst
Due: build-docs

Lint
  readthedocs/core/static-src/core/js/doc-embed/utils.js
Due: build-code

Use utility function domReady instead of JQuery's .ready (#9579)
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static-src/core/js/doc-embed/sphinx.js
  readthedocs/core/static-src/core/js/doc-embed/utils.js
  readthedocs/core/static-src/core/js/readthedocs-doc-embed.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code

Remove usage of jquery's $.Deref and remove mkdocs SSS integration
  readthedocs/core/static-src/core/js/doc-embed/search.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/doc_builder/backends/mkdocs.py
Due: build-code

Invitations: delete related invitations when deleting an object
  readthedocs/invitations/apps.py
  readthedocs/invitations/signals.py
  readthedocs/invitations/tests/test_signals.py
Due: build-code

Linter
  readthedocs/invitations/signals.py
Due: build-code

Comment
  readthedocs/api/v3/serializers.py
Due: build-code

Updating setup for APITests
  readthedocs/rtd_tests/tests/test_api.py
Due: build-code

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

modified tag assretions
  readthedocs/api/v3/tests/test_projects.py
Due: build-code

Docs: improve "Badges" page (#9580)
  docs/user/badges.rst
Due: build-docs

Docs: recommend using `pip` instead of `setuptools` (#9567)
  docs/user/config-file/v2.rst
Due: build-docs

Invitations: delete related invitations when deleting an object (#9582)
  readthedocs/invitations/apps.py
  readthedocs/invitations/signals.py
  readthedocs/invitations/tests/test_signals.py
Due: build-code

Release 8.4.3
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.4.3 (#9584)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.mo
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.mo
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.mo
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Embedded js: fix no-sphinx docs
  readthedocs/core/static-src/core/js/doc-embed/footer.js
  readthedocs/core/static/core/js/readthedocs-doc-embed.js
Due: build-code
