Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Build: bump `readthedocs-sphinx-ext` to `<2.3` (#9707)
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/tests/test_build_tasks.py
Due: build-code

Fixing api and footer tests
  readthedocs/rtd_tests/tests/test_api.py
  readthedocs/rtd_tests/tests/test_footer.py
Due: build-code

Build: make usage of `status` variable
  readthedocs/projects/tasks/builds.py
Due: build-code

Apply suggestions from code review
  docs/user/build-customization.rst
Due: build-docs

Release 8.8.0
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.8.0 (#9715)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.mo
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Docs: update code example for skip builds
  docs/user/build-customization.rst
Due: build-docs

Docs: example showing how to skip the build based on commit message
  docs/user/build-customization.rst
Due: build-docs

Docs: refactor "skipping a build" section
  docs/user/build-customization.rst
  docs/user/builds.rst
Due: build-docs

Docs: use 183 instead of 439 exit code
  docs/user/build-customization.rst
  docs/user/builds.rst
Due: build-docs

Apply suggestions from code review
  docs/user/build-customization.rst
  docs/user/builds.rst
Due: build-docs

Minor fix underline
  docs/user/builds.rst
Due: build-docs

Use multi-line bash examples
  docs/user/build-customization.rst
Due: build-docs

Fix docstring
  readthedocs/core/unresolver.py
Due: build-code

Unresolver: support external versions for single version projects (#9709)
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Update dosctrings
  readthedocs/proxito/views/mixins.py
Due: build-code

Update security policy
  SECURITY.md
  docs/user/security.rst
Due: build-docs

Merge pull request from GHSA-98pf-gfh3-x3mp
  readthedocs/constants.py
  readthedocs/projects/constants.py
  readthedocs/projects/models.py
  readthedocs/projects/tests/test_views.py
  readthedocs/projects/urls/public.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
  readthedocs/rtd_tests/tests/test_project.py
Due: build-code

Release 8.8.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Due: build-code, build-docs

Release 8.8.1 (#9724)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Due: build-code, build-docs

Add changelog
  CHANGELOG.rst
Due: none

Fix tests
  readthedocs/projects/tests/test_views.py
Due: build-code

Update docs/user/security.rst
  docs/user/security.rst
Due: build-docs

Fix tests (#9725)
  readthedocs/projects/tests/test_views.py
Due: build-code

Update security policy (#9723)
  SECURITY.md
  docs/user/security.rst
Due: build-docs

Update docs/user/builds.rst
  docs/user/builds.rst
Due: build-docs

Docs: refactor "skipping a build" section (#9717)
  docs/user/build-customization.rst
  docs/user/builds.rst
Due: build-docs

Update readthedocs/core/signals.py
  readthedocs/core/signals.py
Due: build-code

Migrate date NULL values to `timezone.now()`
  readthedocs/core/migrations/0012_add_newsletter_setting.py
Due: build-code

TODO note to migrate the signal into a Celery task
  readthedocs/core/signals.py
Due: build-code

Typo
  readthedocs/core/migrations/0012_add_newsletter_setting.py
Due: build-code

Rename external -> is_external_version
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Due: build-code

Proxito: don't depend on attributes injected in the request (#9711)
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Due: build-code

Proxito: refactor doc serving
  readthedocs/projects/views/public.py
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Due: build-code

Darker files
  readthedocs/core/migrations/0012_add_newsletter_setting.py
Due: build-code

Fix tests
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/tests/test_middleware.py
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Due: build-code

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Docs: use `grep` instead of `case`
  docs/user/build-customization.rst
Due: build-docs

Docs: small note about "Why 183?"
  docs/user/build-customization.rst
Due: build-docs

Build: skip build based on commands' exit codes (#9649)
  docs/user/build-customization.rst
  docs/user/builds.rst
  readthedocs/doc_builder/constants.py
  readthedocs/doc_builder/environments.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/projects/tasks/builds.py
Due: build-code, build-docs
