Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

run blacken-docs precommit hook on all files
  docs/dev/design/better-doc-urls-handling.rst
  docs/dev/design/theme-context.rst
  docs/dev/install.rst
  docs/user/advertising/ad-customization.rst
  docs/user/config-file/v1.rst
  docs/user/environment-variables.rst
  docs/user/guides/cross-referencing-with-sphinx.rst
  docs/user/guides/intersphinx.rst
  docs/user/guides/jupyter.rst
  docs/user/guides/pdf-non-ascii-languages.rst
  docs/user/intro/getting-started-with-sphinx.rst
Due: build-docs

Update readthedocs/doc_builder/exceptions.py
  readthedocs/doc_builder/exceptions.py
Due: build-code

Comment out the science contact form
  docs/user/science.rst
Due: build-docs

Re-label VCS integration as a how-to guide and let's call it "Git platform integration"?
  docs/user/guides/administrators.rst
  docs/user/index.rst
  docs/user/integrations.rst
Due: build-docs

Diatáxis refactor: Move Custom Domains to the How-to section
  docs/user/custom-domains.rst
  docs/user/guides/administrators.rst
  docs/user/index.rst
Due: build-docs

Docs: Comment out the science contact form (#9674)
  docs/user/science.rst
Due: build-docs

Proposal: Split up Custom Domains into two articles, no new contents added (step 1 of 2)
  docs/user/custom-domains.rst
  docs/user/guides/administrators.rst
  docs/user/guides/custom-domains.rst
  docs/user/index.rst
Due: build-docs

Try to make "Custom Domain" feature description more self-contained
  docs/user/custom-domains.rst
  docs/user/guides/custom-domains.rst
Due: build-docs

Update cross-references to match new location
  docs/user/custom-domains.rst
  docs/user/guides/custom-domains.rst
Due: build-docs

Revert back to saying VCS (to cut short discussion)
  docs/user/guides/administrators.rst
  docs/user/index.rst
  docs/user/integrations.rst
Due: build-docs

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

Update pr-preview-links.yaml
  .github/workflows/pr-preview-links.yaml
Due: none

Update docs/user/guides/custom-domains.rst
  docs/user/guides/custom-domains.rst
Due: build-docs

Update docs/user/custom-domains.rst
  docs/user/custom-domains.rst
Due: build-docs

Update seealso:: box with a better pattern
  docs/user/custom-domains.rst
  docs/user/guides/administrators.rst
  docs/user/index.rst
Due: build-docs

Revert another change, just to reduce distractions
  docs/user/integrations.rst
Due: build-docs

Split up Build Notifications into feature/reference and how-to (Diátaxis)
  docs/user/build-notifications.rst
  docs/user/guides/administrators.rst
  docs/user/guides/build-notifications.rst
  docs/user/guides/developers.rst
  docs/user/index.rst
Due: build-docs

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

added ordering by name to Tag model
  readthedocs/projects/models.py
Due: build-code

modified responses json for sorted tags
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-list.json
  readthedocs/api/v3/tests/responses/projects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-superproject.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/remoterepositories-list.json
Due: build-code

Update docs/dev/design/sphinx-jquery.rst
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Remove release cycle proposal, it's up to @AA-Turner :)
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Remove specific mentioning of jQuery versions, add a note about bundling jQuery in other ways
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Remove redundant section label
  docs/user/guides/custom-domains.rst
Due: build-docs

trimmed trailing whitespace
  docs/user/api/v3.rst
Due: build-docs

Docs: Use current year instead of hard-coded 2010 (#9660)
  docs/conf.py
Due: build-docs

Release 8.7.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Release 8.7.1 (#9691)
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  readthedocs/locale/ar/LC_MESSAGES/django.po
  readthedocs/locale/ca/LC_MESSAGES/django.po
  readthedocs/locale/de/LC_MESSAGES/django.mo
  readthedocs/locale/de/LC_MESSAGES/django.po
  readthedocs/locale/en/LC_MESSAGES/django.po
  readthedocs/locale/es/LC_MESSAGES/django.po
  readthedocs/locale/eu/LC_MESSAGES/django.po
  readthedocs/locale/fr/LC_MESSAGES/django.po
  readthedocs/locale/gl/LC_MESSAGES/django.po
  readthedocs/locale/he/LC_MESSAGES/django.po
  readthedocs/locale/hu/LC_MESSAGES/django.po
  readthedocs/locale/id_ID/LC_MESSAGES/django.po
  readthedocs/locale/it/LC_MESSAGES/django.po
  readthedocs/locale/ja/LC_MESSAGES/django.po
  readthedocs/locale/ko_KR/LC_MESSAGES/django.po
  readthedocs/locale/lt/LC_MESSAGES/django.po
  readthedocs/locale/nb/LC_MESSAGES/django.po
  readthedocs/locale/nl/LC_MESSAGES/django.po
  readthedocs/locale/nl_NL/LC_MESSAGES/django.po
  readthedocs/locale/pl/LC_MESSAGES/django.po
  readthedocs/locale/pt_BR/LC_MESSAGES/django.po
  readthedocs/locale/ru/LC_MESSAGES/django.mo
  readthedocs/locale/ru/LC_MESSAGES/django.po
  readthedocs/locale/sk/LC_MESSAGES/django.po
  readthedocs/locale/tr/LC_MESSAGES/django.po
  readthedocs/locale/uk/LC_MESSAGES/django.po
  readthedocs/locale/vi_VN/LC_MESSAGES/django.po
  readthedocs/locale/zh_CN/LC_MESSAGES/django.po
  readthedocs/locale/zh_TW/LC_MESSAGES/django.po
  setup.cfg
Due: build-code, build-docs

Build tools: upgrade all versions
  readthedocs/settings/base.py
Due: build-code

Run `blacken-docs` precommit hook on all files (#9672)
  docs/dev/design/better-doc-urls-handling.rst
  docs/dev/design/theme-context.rst
  docs/dev/install.rst
  docs/user/advertising/ad-customization.rst
  docs/user/config-file/v1.rst
  docs/user/environment-variables.rst
  docs/user/guides/cross-referencing-with-sphinx.rst
  docs/user/guides/intersphinx.rst
  docs/user/guides/jupyter.rst
  docs/user/guides/pdf-non-ascii-languages.rst
  docs/user/intro/getting-started-with-sphinx.rst
Due: build-docs

Static files: don't 500 on invalid paths
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Due: build-code

Subscriptions: don't remove stripe id on canceled subscriptions
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Telemetry: not collect Sphinx data if there is no `conf.py`
  readthedocs/telemetry/collectors.py
Due: build-code

GHA: only run the preview links action on `docs/` path
  .github/workflows/pr-preview-links.yaml
Due: none

Make `VersionInline` Readonly
  readthedocs/projects/admin.py
Due: build-code

used tags from real examples
  docs/user/api/v3.rst
Due: build-docs

Telemetry: not collect Sphinx data if there is no `conf.py` (#9695)
  readthedocs/telemetry/collectors.py
Due: build-code

GHA: only run the preview links action on `docs/` path (#9696)
  .github/workflows/pr-preview-links.yaml
Due: none
