Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Tests
  readthedocs/audit/filters.py
  readthedocs/audit/models.py
  readthedocs/invitations/models.py
  readthedocs/invitations/tests/test_views.py
  readthedocs/invitations/views.py
Due: build-code

Fix tests
  readthedocs/audit/filters.py
  readthedocs/audit/migrations/0008_alter_auditlog_action.py
  readthedocs/audit/models.py
  readthedocs/invitations/tests/test_views.py
  readthedocs/invitations/views.py
  readthedocs/organizations/tests/test_views.py
  readthedocs/rtd_tests/tests/test_profile_views.py
Due: build-code

Update intersphinx.rst
  docs/user/guides/intersphinx.rst
Due: build-docs

Search: refactor API view
  readthedocs/search/api.py
Due: build-code

Search: refactor API view (#9613)
  readthedocs/search/api.py
Due: build-code

Split into SearchAPIBase
  readthedocs/search/api.py
Due: build-code

Search: API V3
  readthedocs/search/api.py
  readthedocs/search/query.py
  readthedocs/urls.py
Due: build-code

Convert api.py to module api/v2
  readthedocs/api/v2/proxied_urls.py
  readthedocs/search/api/__init__.py
  readthedocs/search/api/v2/__init__.py
  readthedocs/search/api/v2/serializers.py
  readthedocs/search/api/v2/urls.py
  readthedocs/search/api/v2/views.py
  readthedocs/search/proxied_api.py
  readthedocs/urls.py
Due: build-code

Black
  readthedocs/search/api/__init__.py
  readthedocs/search/api/v2/serializers.py
  readthedocs/search/api/v2/urls.py
  readthedocs/search/api/v2/views.py
  readthedocs/urls.py
Due: build-code

Update docs/user/guides/intersphinx.rst
  docs/user/guides/intersphinx.rst
Due: build-docs

Fix tests
  readthedocs/search/api/v2/urls.py
  readthedocs/search/tests/test_api.py
  readthedocs/search/views.py
Due: build-code

Add space in example from intersphinx.rst (#9601)
  docs/user/guides/intersphinx.rst
Due: build-docs

ci: add minimum GitHub at the workflow level for pip-tools.yaml
  .github/workflows/pip-tools.yaml
Due: none

ci: add minimum GitHub at the workflow level for pip-tools.yaml (#9617)
  .github/workflows/pip-tools.yaml
Due: none

Updates from review
  readthedocs/audit/models.py
  readthedocs/audit/templates/audit/list_logs.html
Due: build-code

Use serializers
  readthedocs/audit/serializers.py
  readthedocs/invitations/models.py
  readthedocs/invitations/tests/test_views.py
  readthedocs/organizations/models.py
  readthedocs/projects/models.py
Due: build-code

Made some small changes to the MyST migration how-to
  docs/user/guides/authors.rst
  docs/user/guides/migrate-rest-myst.md
Due: build-docs

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Made some small changes to the MyST migration how-to (#9620)
  docs/user/guides/authors.rst
  docs/user/guides/migrate-rest-myst.md
Due: build-docs

Docs: Re-scope Intersphinx article as a how-to (title, navigation, intro)
  docs/user/guides/authors.rst
  docs/user/guides/intersphinx.rst
Due: build-docs

Updates
  readthedocs/search/api.py
  readthedocs/search/backends.py
  readthedocs/search/faceted_search.py
  readthedocs/search/views.py
  readthedocs/templates/search/elastic_search.html
Due: build-code

Search: refactor serializer's context
  readthedocs/search/api/v2/serializers.py
  readthedocs/search/api/v2/views.py
  readthedocs/search/tests/test_api.py
  readthedocs/search/views.py
Due: build-code

Unresolver: strict validation for external versions and other fixes (#9534)
  readthedocs/core/unresolver.py
  readthedocs/embed/views.py
  readthedocs/proxito/middleware.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Search API V3
  readthedocs/search/api/v3/__init__.py
  readthedocs/search/api/v3/backend.py
  readthedocs/search/api/v3/parser.py
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/urls.py
  readthedocs/search/api/v3/views.py
  readthedocs/urls.py
Due: build-code

Run `django-upgrade`
  readthedocs/analytics/tests.py
  readthedocs/analytics/utils.py
  readthedocs/api/v2/urls.py
  readthedocs/core/views/__init__.py
  readthedocs/embed/v3/views.py
  readthedocs/embed/views.py
  readthedocs/projects/models.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/urls.py
  readthedocs/urls.py
Due: build-code

pre-commit linting
  readthedocs/analytics/tests.py
  readthedocs/analytics/utils.py
  readthedocs/api/v2/urls.py
  readthedocs/core/views/__init__.py
  readthedocs/embed/v3/views.py
  readthedocs/embed/views.py
  readthedocs/projects/views/public.py
  readthedocs/proxito/middleware.py
  readthedocs/proxito/urls.py
  readthedocs/urls.py
Due: build-code

Update readthedocs/proxito/middleware.py
  readthedocs/proxito/middleware.py
Due: build-code

Support new syntax in the dashboard
  readthedocs/core/templatetags/core_tags.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/faceted_search.py
  readthedocs/search/views.py
  readthedocs/templates/search/elastic_search.html
Due: build-code

Black
  readthedocs/core/templatetags/core_tags.py
  readthedocs/search/api/v3/backend.py
  readthedocs/search/api/v3/parser.py
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/faceted_search.py
  readthedocs/search/views.py
Due: build-code

Redirect to global search from project search
  readthedocs/search/api/v3/utils.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/faceted_search.py
  readthedocs/search/views.py
  readthedocs/templates/core/project_bar_base.html
Due: build-code

Black
  readthedocs/core/templatetags/core_tags.py
  readthedocs/search/api/v3/utils.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/views.py
Due: build-code

Refactor
  readthedocs/api/v3/proxied_urls.py
  readthedocs/search/api/v3/backend.py
  readthedocs/search/api/v3/queryparser.py
  readthedocs/search/api/v3/serializers.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/views.py
Due: build-code

Move server-side-search docs
  docs/user/config-file/v2.rst
  docs/user/features.rst
  docs/user/flyout-menu.rst
  docs/user/guides/advanced-search.rst
  docs/user/index.rst
  docs/user/server-side-search/index.rst
Due: build-docs

Add docs
  docs/user/analytics.rst
  docs/user/api/v3.rst
  docs/user/build-customization.rst
  docs/user/features.rst
  docs/user/guides/administrators.rst
  docs/user/guides/advanced-search.rst
  docs/user/index.rst
  docs/user/server-side-search/api.rst
  docs/user/server-side-search/index.rst
  docs/user/server-side-search/syntax.rst
  docs/user/tutorial/index.rst
  readthedocs/search/api/v3/views.py
Due: build-code, build-docs

Fixes
  docs/user/server-side-search/api.rst
  readthedocs/search/api/v3/views.py
Due: build-code, build-docs

Update links
  readthedocs/search/api/v3/views.py
Due: build-code

Fixes
  docs/user/server-side-search/syntax.rst
  readthedocs/search/api/v3/backend.py
  readthedocs/urls.py
Due: build-code, build-docs
