Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

Refactor downloadable docs (#9768)
  docs/user/_static/images/guides/offline-formats.jpg
  docs/user/downloadable-documentation.rst
  docs/user/guides/authors.rst
  docs/user/guides/enable-offline-formats.rst
  docs/user/index.rst
Due: build-docs

Apply suggestions from @ericholscher code review
  docs/user/canonical-urls.rst
  docs/user/custom-domains.rst
  docs/user/glossary.rst
Due: build-docs

Downgrade cross-reference from a seealso to normal text re:@ericholsher
  docs/user/guides/canonical-urls.rst
Due: build-docs

Add a cautious message to anyone that would want to define html_baseurl.
  docs/user/guides/canonical-urls.rst
Due: build-docs

parenthesis clarified
  docs/user/guides/canonical-urls.rst
Due: build-docs

Add a shortcut convention for referencing issues
  docs/conf.py
Due: build-docs

Add example code for MkDocs which unfortunately requires a bit of elaboration
  docs/user/guides/canonical-urls.rst
Due: build-docs

Updates diagram and intro text to be easier to digest
  docs/user/custom-domains.rst
Due: build-docs

Add a bold text that a project needs to be rebuilt. Move the note about ANAME/CNAME.
  docs/user/guides/custom-domains.rst
Due: build-docs

Turn support seealso into a note
  docs/user/guides/custom-domains.rst
Due: build-docs

Replace 2 occurrences of "downloadable"
  docs/user/downloadable-documentation.rst
  docs/user/flyout-menu.rst
Due: build-docs

Abandoned Projects policy: Remove requirement to try contacting an owner three times
  docs/user/abandoned-projects.rst
Due: build-docs

Move "Choosing between our two platforms" to Explanation
  docs/user/index.rst
Due: build-docs

Existing text refactored into howto and explanation
  docs/user/guides/administrators.rst
  docs/user/guides/subprojects.rst
  docs/user/index.rst
  docs/user/subprojects.rst
Due: build-docs

Improve subproject explanation with some cases of when it's useful
  docs/user/subprojects.rst
Due: build-docs

Abandoned Projects policy: Relax reachability requirement (#9783)
  docs/user/abandoned-projects.rst
Due: build-docs

Do not build documentation in Circle CI, Read the Docs handles that - warnings are now enabled
  .circleci/config.yml
  .readthedocs.yml
Due: none

./manage.py now required to be in "allowlist_externals" so we invoke it via python
  tox.ini
Due: none

Add sh+git to allowlist_externals
  tox.ini
Due: none

Reverting the unintended newline removal change
  readthedocs/projects/tests/test_build_tasks.py
Due: build-code

Try explicitly fetching main branch
  .circleci/config.yml
Due: none

Fail faster: Run pre-commit before anything else, move nvm installation to the end
  .circleci/config.yml
Due: none

Call with "base_python", that's the MOST correct way :100:
  tox.ini
Due: none

Rename remaining white=>allow
  tox.ini
Due: none

Adjust tox.embedapi.ini for Tox 4
  tox.embedapi.ini
Due: none

Upper bound the testembedapi tox<4
  .circleci/config.yml
  tox.embedapi.ini
Due: none

Relabel as Explanation, add initial paragraph, move weird note::, remove note:: about Sphinx-only
  docs/user/index.rst
  docs/user/localization.rst
Due: build-docs

Docs: Change "downloadable" to "offline" (#9782)
  docs/user/downloadable-documentation.rst
  docs/user/flyout-menu.rst
Due: build-docs

Adds some more explanation and change odd section "Single project in another language" (what is Single project?)
  docs/user/localization.rst
Due: build-docs

Apply suggestions from @ericholscher code review
  docs/user/custom-domains.rst
  docs/user/guides/canonical-urls.rst
Due: build-docs

Convert Mermaid diagram to SVG, remove sphinxcontrib-mermaid
  docs/conf.py
  docs/user/custom-domains.rst
  docs/user/img/mermaid-custom-domains.svg
Due: build-docs

Add a closing backtick, remove image alignment (causes wrong vertical margins)
  docs/user/custom-domains.rst
Due: build-docs

Docs: Move "Choosing between our two platforms" to Explanation (Diátaxis) (#9784)
  docs/user/index.rst
Due: build-docs

Symlink following: Arbitrary file access from builder server
  readthedocs/builds/storage.py
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/base.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/exceptions.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/utils.py
  readthedocs/rtd_tests/files/dir-symlink
  readthedocs/rtd_tests/files/test-symlink.html
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_config_integration.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/telemetry/collectors.py
  readthedocs/vcs_support/base.py
Due: build-code

Add upper bound for tox
  .circleci/config.yml
Due: none

Revert a no-op change to env names in tox.embedapi.ini
  tox.embedapi.ini
Due: none

Build: hard fail builds when there is symlinks in the output
  readthedocs/builds/storage.py
Due: build-code

Merge pull request from GHSA-368m-86q9-m99w
  readthedocs/builds/storage.py
  readthedocs/config/config.py
  readthedocs/config/tests/test_config.py
  readthedocs/core/tests/test_filesystem_utils.py
  readthedocs/core/utils/filesystem.py
  readthedocs/doc_builder/backends/mkdocs.py
  readthedocs/doc_builder/backends/sphinx.py
  readthedocs/doc_builder/base.py
  readthedocs/doc_builder/director.py
  readthedocs/doc_builder/exceptions.py
  readthedocs/doc_builder/python_environments.py
  readthedocs/projects/exceptions.py
  readthedocs/projects/tasks/utils.py
  readthedocs/projects/utils.py
  readthedocs/rtd_tests/files/dir-symlink
  readthedocs/rtd_tests/files/test-symlink.html
  readthedocs/rtd_tests/tests/test_build_storage.py
  readthedocs/rtd_tests/tests/test_config_integration.py
  readthedocs/rtd_tests/tests/test_doc_builder.py
  readthedocs/rtd_tests/tests/test_imported_file.py
  readthedocs/telemetry/collectors.py
  readthedocs/vcs_support/base.py
Due: build-code

Release 9.0.1
  CHANGELOG.rst
  docs/conf.py
  package.json
  readthedocs/__init__.py
  setup.cfg
Due: build-code, build-docs

Path conditions:
  build-code: any of: readthedocs/.*
  build-docs: any of: docs/.*
