Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Telemetry: include all the PyPI packages (#9737)
  readthedocs/telemetry/collectors.py
Due: build-code

Admin: Make `VersionInline` Read-only (#9697)
  readthedocs/projects/admin.py
Due: build-code

Adds a link in robots.txt to where the policy will presumably live
  docs/user/unofficial-projects.rst
Due: build-docs

Apply suggestions from @agjohnson code review
  docs/user/unofficial-projects.rst
Due: build-docs

Update docs/user/unofficial-projects.rst
  docs/user/unofficial-projects.rst
Due: build-docs

Dependencies: all packages updated via pip-tools
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Docs: update instructions to install deps with Poetry
  docs/user/build-customization.rst
Due: build-docs

Docs: fix example for installing deps with Poetry
  docs/user/build-customization.rst
Due: build-docs

Fix typo in private.py
  readthedocs/organizations/views/private.py
Due: build-code

Docs: simplify Poetry example
  docs/user/build-customization.rst
Due: build-docs

Fix typo in private.py (#9744)
  readthedocs/organizations/views/private.py
Due: build-code

Search: fix parsing of parameters inside sphinx domains
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/sphinx/out/page.json
Due: build-code

Remove procedure to notify upstream maintainers
  docs/user/unofficial-projects.rst
Due: build-docs

Change Specification to Definitions
  docs/user/unofficial-projects.rst
Due: build-docs

Move High-level Overview to Rationale
  docs/user/unofficial-projects.rst
Due: build-docs

Add a definition of source project
  docs/user/unofficial-projects.rst
Due: build-docs

Delisting with notification. Step added to take no further action if unreachable. Step added that actions may be taken if reachable
  docs/user/unofficial-projects.rst
Due: build-docs

Talk mostly of "owner" in plural, there might be several people maintaining a documentation project
  docs/user/unofficial-projects.rst
Due: build-docs

Remove SOME stuff, we aren't going to seriously validate that
  docs/user/unofficial-projects.rst
Due: build-docs

Remove examples section, it doesn't fill much purpose now
  docs/user/unofficial-projects.rst
Due: build-docs

Search: fix parsing of parameters inside sphinx domains (#9750)
  readthedocs/search/parsers.py
  readthedocs/search/tests/data/sphinx/out/page.json
Due: build-code

Subscriptions: attach stripe subscription to organizations
  readthedocs/organizations/migrations/0011_add_stripe_subscription_field.py
  readthedocs/organizations/models.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
  readthedocs/subscriptions/views.py
Due: build-code

Apply suggestions from @humitos and @erichholscher
  docs/user/unofficial-projects.rst
Due: build-docs

reference Terms of Service doc
  docs/user/unofficial-projects.rst
Due: build-docs

Use quotes to make the script valid
  .readthedocs.yml
  docs/user/build-customization.rst
Due: build-docs

Move delisting section
  docs/user/unofficial-projects.rst
Due: build-docs

Remove step outlining what happens if "unreachable" since nothing happens
  docs/user/unofficial-projects.rst
Due: build-docs

Remove definition of "Unreachable" since it's not in use
  docs/user/unofficial-projects.rst
Due: build-docs

Change logic to use $? (last exit code) in the condition
  .readthedocs.yml
  docs/user/build-customization.rst
Due: build-docs

Modify if statement
  .readthedocs.yml
Due: none

Update docs to use the new command
  docs/user/build-customization.rst
Due: build-docs

Update .readthedocs.yml
  .readthedocs.yml
Due: none

Docs: cancel PR builds if there is no documentation changes (#9734)
  .readthedocs.yml
  docs/user/build-customization.rst
Due: build-docs

Remove definition of Source Project
  docs/user/unofficial-projects.rst
Due: build-docs

Adding a pattern for reusing "Only on Read the Docs for Business" admonition
  docs/user/commercial/organizations.rst
  docs/user/commercial/privacy-level.rst
  docs/user/commercial/sharing.rst
  docs/user/commercial/single-sign-on.rst
  docs/user/shared/admonition-rtd-business.rst
Due: build-docs

Admin: install `debug_toolbar`
  readthedocs/settings/base.py
Due: build-code

Updates from review
  readthedocs/organizations/models.py
Due: build-code

Subscriptions: attach stripe subscription to organizations (#9751)
  readthedocs/organizations/migrations/0011_add_stripe_subscription_field.py
  readthedocs/organizations/models.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
  readthedocs/subscriptions/tests/test_views.py
  readthedocs/subscriptions/utils.py
  readthedocs/subscriptions/views.py
Due: build-code

Exclude shared files from TOC and build
  docs/conf.py
Due: build-docs
