Repository readthedocs/readthedocs.org: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, build-docs

.circleci/config.yml:

version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2
  path-filtering: circleci/path-filtering@0.1.3

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.14.0'
        name: search
        environment:
          discovery.type: single-node
          ES_JAVA_OPTS: -Xms750m -Xmx750m
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py310
      - codecov/upload

  tests-embedapi:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - when:
          condition: build-code
          steps:
            - checkout
            - run: git submodule sync
            - run: git submodule update --init
            - run: pip install --user tox
            - run: tox -c tox.embedapi.ini

  checks:
    docker:
      - image: 'cimg/python:3.10'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e pre-commit
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e docs-dev
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - tests-embedapi:
          requires:
            - checks
            - tests
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            readthedocs/.* build-code true
            docs/.* build-docs true

Static files: don't 500 on invalid paths (#9694)
  readthedocs/proxito/tests/test_full.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Due: build-code

Updates from review
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/querysets.py
Due: build-code

Rename rtd -> readthedocs
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/notifications.py
Due: build-code

Resolving some test erors, reverting some changes
  readthedocs/projects/management/commands/fixtures_projects.py
  readthedocs/rtd_tests/tests/test_redirects.py
  readthedocs/rtd_tests/tests/test_repo_parsing.py
  readthedocs/rtd_tests/tests/test_views.py
  readthedocs/search/fixtures/test_search_queries.json
  readthedocs/search/management/commands/search_queries.py
Due: build-code

Improve contextualized messages, not ready for review, needs further testing, and search for isn't safe to assume
  readthedocs/core/views/__init__.py
  readthedocs/settings/base.py
  readthedocs/templates/404.html
Due: build-code

Linter
  readthedocs/subscriptions/apps.py
Due: build-code

Fixing static id asserts in test_project.py
  readthedocs/rtd_tests/tests/test_project.py
Due: build-code

Dependencies: all packages updated via pip-tools
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.txt
  requirements/testing.txt
Due: none

Fixing version compare tests
  readthedocs/projects/management/commands/fixtures_projects.py
Due: build-code

API v3: added support for tags in API (#9513)
  docs/user/api/v3.rst
  readthedocs/api/v3/serializers.py
  readthedocs/api/v3/tests/responses/projects-detail.json
  readthedocs/api/v3/tests/responses/projects-list.json
  readthedocs/api/v3/tests/responses/projects-list_POST.json
  readthedocs/api/v3/tests/responses/projects-superproject.json
  readthedocs/api/v3/tests/responses/projects-versions-builds-list_POST.json
  readthedocs/api/v3/tests/responses/remoterepositories-list.json
  readthedocs/api/v3/tests/test_projects.py
  readthedocs/projects/models.py
Due: build-code, build-docs

Docs: Split up Build Notifications into feature/reference and how-to (Diátaxis) (#9686)
  docs/user/build-notifications.rst
  docs/user/guides/administrators.rst
  docs/user/guides/build-notifications.rst
  docs/user/guides/developers.rst
  docs/user/index.rst
Due: build-docs

Remove search form, that was a bad idea, since it will only work on standard Sphinx projects.
  readthedocs/templates/404.html
Due: build-code

Bump to sphinx-rtd-theme 1.1.0
  requirements/docs.in
  requirements/docs.txt
Due: none

Bump to sphinx-rtd-theme to 1.1.0 (#9701)
  requirements/docs.in
  requirements/docs.txt
Due: none

Updates from review
  readthedocs/search/api/v3/backend.py
  readthedocs/search/api/v3/views.py
Due: build-code

Inherit from API v3 settings
  readthedocs/search/api/v3/views.py
Due: build-code

Early work on an approach that uses a custom Http404 exception to save relevant 404 context
  readthedocs/core/views/__init__.py
  readthedocs/proxito/exceptions.py
  readthedocs/proxito/views/decorators.py
  readthedocs/proxito/views/serve.py
  readthedocs/proxito/views/utils.py
Due: build-code

Add a note about using yield
  readthedocs/search/api/v3/backend.py
Due: build-code

Rename Backend -> SearchExecutor
  readthedocs/search/api/v3/executor.py
  readthedocs/search/api/v3/views.py
  readthedocs/search/views.py
Due: build-code

More renaming
  readthedocs/search/api/v3/views.py
  readthedocs/search/views.py
Due: build-code

Dependencies: pin `dj-stripe` and run upgrade again
  requirements/debug.txt
  requirements/deploy.txt
  requirements/docker.txt
  requirements/docs.txt
  requirements/lint.txt
  requirements/pip.in
  requirements/pip.txt
  requirements/testing.txt
Due: none

Build tools: upgrade all versions (#9692)
  readthedocs/settings/base.py
Due: build-code

Build: bump `readthedocs-sphinx-ext` to `<2.3`
  readthedocs/doc_builder/python_environments.py
Due: build-code

Build: fix test
  readthedocs/projects/tests/test_build_tasks.py
Due: build-code

Refactor error templates to separate contextualized handling + some template DRY stuff.
  readthedocs/core/views/__init__.py
  readthedocs/proxito/exceptions.py
  readthedocs/templates/401.html
  readthedocs/templates/404.html
  readthedocs/templates/429.html
  readthedocs/templates/500.html
  readthedocs/templates/errors/404/base.html
  readthedocs/templates/errors/404/community.html
  readthedocs/templates/errors/404/include_tips.html
  readthedocs/templates/errors/404/no_project.html
  readthedocs/templates/errors/404/no_project_page.html
  readthedocs/templates/errors/404/no_subproject.html
  readthedocs/templates/errors/base.html
Due: build-code

Unresolver: support external versions for single version projects
  readthedocs/core/unresolver.py
  readthedocs/rtd_tests/tests/test_unresolver.py
Due: build-code

Proxito: use unresolver
  readthedocs/core/unresolver.py
  readthedocs/proxito/urls.py
  readthedocs/proxito/views/serve.py
Due: build-code

Proxito: don't depend on attributes injected in the request
  readthedocs/proxito/views/mixins.py
  readthedocs/proxito/views/serve.py
Due: build-code

Apply new exceptions in some of the cases
  readthedocs/proxito/views/decorators.py
  readthedocs/proxito/views/serve.py
Due: build-code

Fixing pip version compare test
  readthedocs/rtd_tests/tests/test_api.py
Due: build-code

Update readthedocs/proxito/exceptions.py
  readthedocs/proxito/exceptions.py
Due: build-code

Subscriptions: don't remove stripe id on canceled subscriptions (#9693)
  readthedocs/subscriptions/managers.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Subscriptions: use djstripe events to mail owners (#9661)
  readthedocs/notifications/notification.py
  readthedocs/organizations/querysets.py
  readthedocs/rtd_tests/tests/test_notifications.py
  readthedocs/subscriptions/apps.py
  readthedocs/subscriptions/event_handlers.py
  readthedocs/subscriptions/notifications.py
  readthedocs/subscriptions/querysets.py
  readthedocs/subscriptions/tasks.py
  readthedocs/subscriptions/tests/test_daily_email.py
  readthedocs/subscriptions/tests/test_event_handlers.py
Due: build-code

Build: send SUCCESS external build status on skipped builds
  readthedocs/projects/tasks/builds.py
Due: build-code

Docs: skip build based on a condition
  docs/user/build-customization.rst
Due: build-docs

Lint: small darker change
  readthedocs/doc_builder/exceptions.py
Due: build-code

Proposal for sphinxcontrib-jquery (#9665)
  docs/dev/design/sphinx-jquery.rst
Due: build-docs

Docs: reference fixed
  docs/user/build-customization.rst
Due: build-docs

Docs: improve comment on YAML
  docs/user/build-customization.rst
Due: build-docs
